.users-list {
    margin-top: 100px;
}

.searcher {
    margin-bottom: 50px;
    text-align: center;
}

.searcher input[type="text"] {
    border-radius: 3px;
    margin-right: 10px;
    border: 2px solid aquamarine;
}

.searcher button {
    cursor: pointer;
}

.users-list {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 600px;
}

.list-item {
    border-bottom: 1px solid #000;
}

.list-item:last-child {
    border-bottom: none;
}